services:
  postgres:
    image: postgres:17
    container_name: quotation_system
    environment:
      POSTGRES_USER: aj_user
      POSTGRES_PASSWORD: supersecretpassword
      POSTGRES_DB: quotation_system
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U aj_user -d quotation_system"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    command:
      - -c
      - listen_addresses=*
      - -c
      - wal_level=logical

  # api:
  #   build: .
  #   container_name: waldrop_api
  #   ports:
  #     - "8000:8000"
  #   env_file:
  #     - .env
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   restart: unless-stopped

volumes:
  postgres_data:
